<h3>Now this is a story all about how</h3>
<h3>My life got flipped-turned upside down</h3>
<h3>And I'd like to take a minute</h3>
<h3>Just sit right there</h3>
<h3>I'll tell you how I became a software developair.</h3>