<!DOCTYPE html>
<html>
<head>
  <title>Me me me!</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <h3>Stuart Robertson</h3>
  <a href="/">Home</a> - <a href="/address">Address</a> - <a href="/formatter">Formatter</a>
  <%= yield %>
</body>
</html>